<h5 class="cc">Contact Us !</h5>

<div class="table">
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Mail id</th>
            <th scope="col">Mob NO</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Ankeet Ku Panda</td>
            <td>+91-8455083973</td>
            <td>ankeetkumar1010@gmail.com</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Dibyaranjan Das</td>
            <td>+91-8260931091</td>
            <td>dasd55322@gmail.com</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Munal Sahu</td>
            <td>+91-8260931091</td>
            <td>dasd55322@gmail.com</td>
        </tbody>
      </table>
</div>