<h4 class="center-text">Our Core Team ❤️</h4>

  

  <div class="card-deck">
    
    <div class="card">
      <img class="card-img-top" src="/assets/drd.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Dibyaranjan Das</h5>
        <p class="card-text"><b>Software Engineer</b></p>
        <p class="card-text">+91-8260931091</p>
        <p class="card-text"><b>"We rise by lifting others !"</b></p>
        

      </div>
    
    </div>
    <div class="card">
      <img class="card-img-top" src="/assets/ankeet.jpeg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Ankeet Kumar Panda</h5>
        <p class="card-text"><b>Software Engineer</b></p>
        <p class="card-text">+91-8455083973</p>
        <p class="card-text"><b>"It's not about how much we give...its about how much love we are putting in it."</b></p>
        

        
      </div>
      
    </div>
    <div class="card">
      <img class="card-img-top" src="/assets/munal.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Munal Sahu</h5>
        <p class="card-text"><b>Software Engineer</b></p>
        <p class="card-text">+91-8260931091</p>
        <p class="card-text"><b>"It's not about how much we give...its about how much love we are putting in it."</b></p>

      </div>
     
    </div>
    <div class="card">
        <img class="card-img-top" src="/assets/deb.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Debraj Dalei</h5>
          <p class="card-text"><b>Software Engineer</b></p>
          <p class="card-text">+91-8144337512</p>
          <p class="card-text"><b>"It's not about how much we give...its about how much love we are putting in it."</b></p>
  
          
        </div>
        
      </div>
      <div class="card">
        <img class="card-img-top" src="/assets/8c72ddca-51cb-4ebd-bcc5-3fd2178045e8.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Mrutunjaya Parida</h5>
          <p class="card-text"><b>Software Engineer</b></p>
          <p class="card-text">+91-8144337512</p>
          <p class="card-text"><b>"true fighter."</b></p>
  
        </div>
       
      </div>
  </div>
  