<marquee behavior="alternate" direction="right" scrollamount="10" loop="i200">
  <b>Blood Donation Saves Lives! ❤️ Donate Today!  &nbsp;   Register as a donor.  &nbsp;&nbsp;  Contact Us! +918260931091</b>
</marquee>

<h4 class="head mt-5 ms-5">Messages From Our Donors ❤️ </h4>
<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="/assets/5fc987e9-c56c-43ec-a7a8-a4bf4d90a7bd.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Jitu Nayak</h5>
      <p class="card-text">ରକ୍ତ ଦାନ ମହା ପୁଣ୍ୟ</p>
    </div>
    
  </div>
  <div class="card">
    <img class="card-img-top" src="/assets/8a2b1faa-5c64-496f-9461-8ab134fb158c.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Ankeet Kumar Panda</h5>
      <p class="card-text">ପ୍ରତିଟି ଜୀବନ ଆମ ପାଇଁ ମୂଲ୍ୟବାନ </p>
    </div>
  
  </div>
  <div class="card">
    <img class="card-img-top" src="/assets/8c72ddca-51cb-4ebd-bcc5-3fd2178045e8.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Dibyaranjan Das</h5>
      <p class="card-text">ମନବ ସେବା ହି ମାଧବ ସେବା</p>
    </div>
   
  </div>
</div>
