.about {
    margin: 20px; /* Adjust the margin value as needed */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effects */
  }
  
 .about-map{
  width: 100%;
  display: flex;
  margin-left: 1rem;
 }





    